.continue/

# Ignora todo en la carpeta app/ excepto tres archivos Readme.md específicos
/app/**

# Conserva los directorios para que Git pueda ver los archivos permitidos
!/app/backend/
!/app/db/
!/app/frontend/

# Permite archivos específicos dentro de esos directorios
!/app/backend/Readme.md
!/app/db/Readme.md
!/app/frontend/Readme.md

# Ignora archivos de entorno en la raíz del proyecto
/*.env
/.*.env
